div.row
  div#breadcrumb.col-xs-12
    ol.breadcrumb
      li
        a(href='/') Home
      li
        a(href='#') Dashboard
div#dashboard-header.row
  div.col-xs-10.col-sm-2
    h1= title
  div.col-xs-2.col-sm-1.col-sm-offset-1
