div.row
  div#breadcrumb.col-md-12
    ol.breadcrumb
      li
        a(href='/') HOME

div.row-fluid
  div.col-xs-12.col-sm-6
    h3= title
  div.col-xs-12.col-sm-10
    div.box-content
      form.form-horizontal(role='form')
        div.form-group
          label.col-sm-2.control-label(for='date_example') 日付
          div.col-sm-4
            input.datepicker.form-control(type='text',name='date',placeholder='休む日を入力')
        div.form-group
          div.col-sm-offset-2.col-sm-4
            button.btn.btn-primary.btn-label-left(type='submit') Submit
              span
                i.fa.fa-clock-o
script(type='text/javascript').
  $(document).ready(function(){
    LoadTimePickerScript(DatePickers);
  });
