body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.kintai {
    width: 600px;
}
.kintai_column {
    position: relative;
    top: 0px;
    float: left;
}

.kintai_month {
}

.kintai_head {
}

.kintai_days {
}

.kintai_day {
}

.kintai_start_time {
}
.kintai_end_time {
}

.kintai_type {
}
